@{
    ViewBag.Title = "CampaignHome";
}




<script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery/dist/jquery.min.js")"></script>

<div class="page-container">
    <div class="page-header clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mt-0 mb-5">Email Template</h4>
                <ol class="breadcrumb mb-0">
                    <li><a href="@Url.RouteUrl("AdminDashboard")">Home</a></li>
                    <li><a href="@Url.RouteUrl("Campaigns")">Mail Campaign</a></li>
                    <li class="active">Template Home</li>
                </ol>
            </div>
            <div class="col-sm-6">
                @*<div class="btn-group mt-5">
                        <button type="button" class="btn btn-default btn-outline"><i class="flag-icon flag-icon-us mr-5"></i> English</button>
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                            <li><a href="#"><i class="flag-icon flag-icon-de mr-5"></i> German</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-fr mr-5"></i> French</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-es mr-5"></i> Spanish</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-it mr-5"></i> Italian</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-jp mr-5"></i> Japanese</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Manage Campaigns</h3>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#campaign_Modal"><i class="ti-plus"></i></button>
                    @*<a type="button" href="/MarketingCampaign/AddEmailCampaign" class="btn btn-primary" title="Create Campaign"><i class="ti-plus"></i></a>*@ 
                    @*<button type="button" class="btn btn-default"><i class="ti-share-alt"></i></button>*@
                </div>
            </div>
            <div class="widget-body">
                <table id="lead-list-1" style="width: 100%" class="table table-hover dt-responsive ">
                    <thead>
                        <tr>                           
                            <th class="text-center">Title</th>
                            <th class="text-center">No of Recievers</th>                   
                            <th class="text-center">Disposition</th>
                            <th class="text-center">Created On</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="uTableBody">
                        @foreach(var campaign in ViewBag.Campaigns)
                        {
                            <tr>
                                <td class="text-center">@campaign.Title</td>
                                <td class="text-center">@campaign.TotalReciever</td>
                                <td class="text-center">@campaign.Disposition</td>
                                <td class="text-center">@campaign.CratedAt</td>
                                @if (campaign.Status == "Active")
                                {
                                    <td class="text-center"><span class="label label-success">@campaign.Status</span></td>
                                }
                                else
                                {
                                    <td class="text-center"><span class="label label-warning" onclick="SendCampaign(@campaign.Campign_ID);">@campaign.Status</span></td>
                                }                               
                                <td class="text-center">                                   
                                    <button class="btn btn-sm btn-outline btn-danger" onclick="DeleteCampaign(@campaign.Campign_ID)" title="Delete Campaign"><i class="ti-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>



<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade bs-example-modal-lg" id="campaign_Modal">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">New Campaign</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="NTitle">Title</label>
                            @*@Html.DropDownListFor(m => m.AssignToID, (List<SelectListItem>)ViewBag.UserList, new { @class = "form-control form-cutom" })*@
                            <input type="text" id="title" class="form-control" />  
                            <div id="error_div_title" style="display:none;">
                                <p style="color:red">Please Enter Title</p>
                            </div>                         
                        </div>

                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="dipo_id">Dispotion</label>
                             @*@Html.DropDownListFor(m => m.AssignToID, (List<SelectListItem>)ViewBag.UserList, new { @class = "form-control form-cutom" })*@
                            <select id="dipo_id" class="form-control"></select>
                            <div id="error_div_dipo_id" style="display:none;">
                                <p style="color:red">Please Enter Title</p>
                            </div>                           
                        </div>     
                        <div class="form-group col-sm-6">
                            <label for="temp_id">Template</label>
                            @*@Html.DropDownListFor(m => m.AssignToID, (List<SelectListItem>)ViewBag.UserList, new { @class = "form-control form-cutom" })*@
                            <select id="temp_id" class="form-control"></select>
                            <div id="error_div_temp_id" style="display:none;">
                                <p style="color:red">Please Enter Title</p>
                            </div> 
                        </div>                   
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default">Close</button>
                <button type="button" class="btn btn-raised btn-black" onclick="ManageCampaign('0')">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       
        $(".se-pre-con").show();

        getDisposition();

        getTemplates();
        $(".se-pre-con").hide();
    });
</script>

<script>
    // Table Script*******

    $(document).ready(function () {

        var e1 = $("#lead-list-1").DataTable({ pageLength: 50, colReorder: !0, buttons: [], searching: !0, aLengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]], order: [[5, "desc"]], columnDefs: [{ orderable: !1, targets: [0, 5] }] });
        $("#lead-list-1_wrapper .col-sm-6:eq(1)").addClass("text-right"), e1.buttons().container().appendTo("#lead-list-1_wrapper .col-sm-6:eq(1)")

    });
</script>

<script>
    

    function getDisposition() {
      
        $.ajax({
            url: '/MarketingCampaign/GetDisposition',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            // data: JSON.stringify({ StatusId: Status_ID }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data != "") {
                    $('#dipo_id').empty();
                    $.each(data, function (i, foo) {
                        $('#dipo_id').append('<option value="' + this.Value + '">' + this.Text + '</option');
                    });
                   // $(".se-pre-con").hide();
                }
                else {
                   // $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                $(".se-pre-con").hide();
                $('#errorMessage').html("No connection");
            }
        });
    }

    function getTemplates() {
        $.ajax({
            url: '/MarketingCampaign/GetTemplates',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            // data: JSON.stringify({ StatusId: Status_ID }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data != "") {
                    $('#temp_id').empty();
                    $.each(data, function (i, foo) {
                        $('#temp_id').append('<option value="' + this.Value + '">' + this.Text + '</option');
                    });
                    // $(".se-pre-con").hide();
                }
                else {
                    // $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
               // $(".se-pre-con").hide();
                $('#errorMessage').html("No connection");
            }
        });
    }

    function ManageCampaign(sFlag) {
        if ($('#title').val().trim() == '') {
            $('#error_div_title').show();            
        }
        else if ($('#dipo_id').val() == '0') {
            $('#error_div_dipo_id').show();
            $('#error_div_title').hide();
        }
        else if ($('#temp_id').val() == '0') {
            $('#error_div_temp_id').show();
            $('#error_div_dipo_id').hide();
            $('#error_div_title').hide();
        }
        else {
            $('#error_div_temp_id').hide();
            $('#error_div_dipo_id').hide();
            $('#error_div_title').hide();

            $.ajax({
                url: '/MarketingCampaign/SaveCampaign',
                dataType: "html",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ title: $('#title').val(), sendFlag: $('#title').val(), dispositionID: $('#dipo_id').val(), templateId: $('#temp_id').val(), sendFlag : sFlag }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data != "") {
                        
                        $('#uTableBody').html('');
                        $('#uTableBody').html(data);
                        $('#campaign_Modal').modal('hide');
                         $(".se-pre-con").hide();
                    }
                    else {
                        alert('f');
                        $('#campaign_Modal').modal('hide');
                         $(".se-pre-con").hide();
                    }
                },
                error: function (xhr) {
                     $(".se-pre-con").hide();
                    $('#errorMessage').html("No connection");
                }
            });
        }
    }

    function SendCampaign(campId) {
        $.ajax({
            url: '/MarketingCampaign/SendCampaign',
            dataType: "html",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ CampaignId : campId }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data != "") {
                    $('#uTableBody').val('');
                    $('#uTableBody').val(data);
                    $('#campaign_Modal').modal('hide');
                    $(".se-pre-con").hide();
                }
                else {

                    $('#campaign_Modal').modal('hide');
                    $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                $(".se-pre-con").hide();
                $('#errorMessage').html("No connection");
            }
        });
    }

    function DeleteCampaign(Campaign_ID_Auto_PK) {
        swal({
            title: "Are you sure?",
            text: "Are you sure to delete this Campaign!",
            type: "warning",
            showCancelButton: !0,
            cancelButtonClass: "btn-raised btn-default",
            cancelButtonText: "Cancel!",
            confirmButtonClass: "btn-raised btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: !0
        },
        function () {
            $(".se-pre-con").show();
            var Cdata = Campaign_ID_Auto_PK;
            var url = "/MarketingCampaign/DeleteCampaign";
            $.post(url, { campaignId: Cdata }, function (data) {
                if (data != "") {
                    $('#uTableBody').html('');
                    $('#uTableBody').html(data);
                    $(".se-pre-con").hide();
                }
                else {
                    $(".se-pre-con").hide();
                }
            });
        })
    }
</script>