@model Project.Web.Models.LeadModel
@using Project.Web.Common;
@{
    SessionHelper session = new SessionHelper();
}
<script>
    $(document).ready(function () {
        $(".date-control").daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'MM/DD/YY'
            },
        });
    });
</script>



<div class="page-container">
    <div class="page-header clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mt-0 mb-5">Lead Management</h4>
                <ol class="breadcrumb mb-0">
                    <li><a href="@Url.RouteUrl("AdminDashboard")">Home</a></li>
                    <li><a href="@Url.RouteUrl("ManageLead")">Manage Lead</a></li>
                    <li class="active">Lead Home</li>
                </ol>
            </div>
            <div class="col-sm-6">
                @*<div class="btn-group mt-5">
                        <button type="button" class="btn btn-default btn-outline"><i class="flag-icon flag-icon-us mr-5"></i> English</button>
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                            <li><a href="#"><i class="flag-icon flag-icon-de mr-5"></i> German</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-fr mr-5"></i> French</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-es mr-5"></i> Spanish</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-it mr-5"></i> Italian</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-jp mr-5"></i> Japanese</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Lead Home</h3>
                <div class="pull-right">
                    @*<div class="btn-group mt-5">
                        <button type="button" class="btn btn-default btn-outline"><i class="mr-5"></i>Lead</button>
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                            <li><a href="@Url.RouteUrl("AddLead")" ><i class="mr-5"></i>Add lead</a></li>                            
                            <li><a href="#"><i class="mr-5"></i>Upload Spreadsheet</a></li>
                        </ul>
                    </div>*@
                    <a href="@Url.RouteUrl("AddLead")" type="button" class="btn btn-primary" title="Add Leads" onclick="SubmitForm();"><i class="ti-plus"></i></a>
                    <a href="@Url.RouteUrl("ImportLead")" type="button" class="btn btn-default" title="Upload Spreadsheet" ><i class="ti-upload"></i></a>
                    <a href="#" type="button" class="btn btn-primary" title="Assign Leads" data-toggle="modal" data-target="#assignTo_Modal"><i class="ti-link"></i></a>
                </div>
            </div>
            <div class="widget-body" id="userTable" >
                <table id="lead-list-1" style="width: 100%" class="table table-hover dt-responsive ">
                    <thead>
                        <tr>  
                            <th class="text-center">
                                <div class="checkbox-custom">
                                    <input id="selectAll" type="checkbox" value="option1">
                                    <label for="selectAll" class="pl-0">&nbsp;</label>
                                </div>
                            </th>         
                            <th class="text-center">Source</th>                
                            <th class="text-center">DBA</th>
                            <th class="text-center">Contact Name</th>                           
                            @*<th class="text-center">Email</th>*@
                            <th class="text-center">Business Phone</th>
                            <th class="text-center">Created On</th>
                            <th class="text-center">Created By</th>
                            <th class="text-center">Assign To</th>
                            <th class="text-center">Disposition</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="uTableBody">
                       @foreach (var lead in Model.leads)
                       {
                            if (session.UserPermissionsSession.AssociatedLeads == "on" && !(session.UserPermissionsSession.SystemwideLeads == "on"))
                                {
                                    if (lead.CreatedBy == session.UserSession.UserId || lead.AssignToID == session.UserSession.UserId)
                                    {
                                        <tr>

                                            <td class="text-center">
                                                <div class="checkbox-custom">
                                                    <input id="check_@lead.Lead_ID" type="checkbox" class="lead_id_check" value="@lead.Lead_ID" onclick="SelectLead(this);">
                                                    <label for="check_@lead.Lead_ID" class="pl-0">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.LeadSource</td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.DBA</td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.ContName</td>                               
                                            @*<td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.Email</td>*@
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.bPhone</td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.CreatedDate</td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.CreatedByName</td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.AssignToName</td>
                                            <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">
                                                @if (lead.LeadColour == "#ffffff")
                                                {
                                                    <span class="label label-success" style="background-color:@lead.LeadColour; color:black;border-color:black;">@lead.LeadStatus</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-success" style="background-color:@lead.LeadColour; color:#fff;">@lead.LeadStatus</span>
                                                }
                                              
                                            </td>
                                            <td class="text-center">
                                                @if (session.UserPermissionsSession.LeadNotes == "on")
                                                {
                                                    <button type="button" class="btn btn-sm btn-outline btn-primary"  title="Change Disposition" onclick="setDispositionModalData('@lead.Lead_ID')" ><i class="ti-pencil"></i></button> 
                                                }                                                 
                                                 <button type="button" class="btn btn-sm btn-outline btn-warning" data-toggle="modal" data-target="#Mail_Modal" onclick="setMailData('@lead.Lead_ID','@lead.ContName','@lead.Email');" title="Send Mail"><i class="ti-email"></i></button>
                                                 <button type="button" class="btn btn-sm btn-outline btn-success" data-toggle="modal" data-target="#assignTo_Modal" title="Assign Lead" onclick="setData('@lead.Lead_ID','@lead.AssignToID')"><i class="ti-link"></i></button>                                  
                                                 <button type="button" class="btn btn-sm btn-outline btn-danger" title="Refresh"><i class="ti-reload"></i></button>
                                                 <button type="button" class="btn btn-sm btn-outline btn-info" data-toggle="modal" data-target="#TaskModal" title="Add Event" onclick="setEventData('@lead.Lead_ID','@lead.ContName','@lead.DBA')"><i class="ti-timer"></i></button>
                                            </td>
                                      </tr>
                                    }
                                    
                                }
                                else if(session.UserPermissionsSession.AssociatedLeads == "on" && session.UserPermissionsSession.AssociatedLeads == "on")
                                {
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox-custom">
                                                <input id="check_@lead.Lead_ID" type="checkbox" class="lead_id_check" value="@lead.Lead_ID" onclick="SelectLead(this);">
                                                <label for="check_@lead.Lead_ID" class="pl-0">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.LeadSource</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.DBA</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.ContName</td>
                                        @*<td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.Email</td>*@
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.bPhone</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.CreatedDate</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.CreatedByName</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.AssignToName</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">
                                            @if (lead.LeadColour == "#ffffff")
                                            {
                                                <span class="label label-success" style="background-color:@lead.LeadColour; color:black;border-color:black;">@lead.LeadStatus</span>
                                            }
                                            else
                                            {
                                                <span class="label label-success" style="background-color:@lead.LeadColour; color:#fff;">@lead.LeadStatus</span>
                                            }

                                        </td>



                                       <td class="text-center">
                                             @if (session.UserPermissionsSession.LeadNotes == "on")
                                             {
                                                   <button type="button" class="btn btn-sm btn-outline btn-primary"  title="Change Disposition" onclick="setDispositionModalData('@lead.Lead_ID')"><i class="ti-pencil"></i></button>
                                             }
                                             <button type="button" class="btn btn-sm btn-outline btn-warning" data-toggle="modal" data-target="#Mail_Modal" onclick="setMailData('@lead.Lead_ID','@lead.ContName','@lead.Email');" title="Send Mail"><i class="ti-email"></i></button>
                                             <button type="button" class="btn btn-sm btn-outline btn-success" data-toggle="modal" data-target="#assignTo_Modal" title="Assign Lead" onclick="setData('@lead.Lead_ID','@lead.AssignToID')"><i class="ti-link"></i></button>                                  
                                             <button type="button" class="btn btn-sm btn-outline btn-danger" title="Refresh"><i class="ti-reload"></i></button>
                                             <button type="button" class="btn btn-sm btn-outline btn-info" data-toggle="modal" data-target="#TaskModal" title="Add Event" onclick="setEventData('@lead.Lead_ID','@lead.ContName','@lead.DBA')"><i class="ti-timer"></i></button>
                                      </td>
                                 </tr>
                                }                                
                                else if (session.UserPermissionsSession.SystemwideLeads == "on")
                                {
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox-custom">
                                                <input id="check_@lead.Lead_ID" type="checkbox" class="lead_id_check" value="@lead.Lead_ID" onclick="SelectLead(this);">
                                                <label for="check_@lead.Lead_ID" class="pl-0">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.LeadSource</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.DBA</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.ContName</td>
                                        @*<td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.Email</td>*@
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.bPhone</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.CreatedDate</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.CreatedByName</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">@lead.AssignToName</td>
                                        <td class="text-center" onclick="ViewLeads('@lead.Lead_ID')">
                                            @if (lead.LeadColour == "#ffffff")
                                            {
                                                <span class="label label-success" style="background-color:@lead.LeadColour; color:black;border-color:black;">@lead.LeadStatus</span>
                                            }
                                            else
                                            {
                                                <span class="label label-success" style="background-color:@lead.LeadColour; color:#fff;">@lead.LeadStatus</span>
                                            }

                                        </td>

                                       <td class="text-center">
                                             @if (session.UserPermissionsSession.LeadNotes == "on")
                                             {
                                                   <button type="button" class="btn btn-sm btn-outline btn-primary"  title="Change Disposition" onclick="setDispositionModalData('@lead.Lead_ID')"><i class="ti-pencil"></i></button>
                                             }
                                             <button type="button" class="btn btn-sm btn-outline btn-warning" data-toggle="modal" data-target="#Mail_Modal" onclick="setMailData('@lead.Lead_ID','@lead.ContName','@lead.Email');" title="Send Mail"><i class="ti-email"></i></button>
                                             <button type="button" class="btn btn-sm btn-outline btn-success" data-toggle="modal" data-target="#assignTo_Modal" title="Assign Lead" onclick="setData('@lead.Lead_ID','@lead.AssignToID')"><i class="ti-link"></i></button>                                  
                                             <button type="button" class="btn btn-sm btn-outline btn-danger" title="Refresh"><i class="ti-reload"></i></button>
                                             <button type="button" class="btn btn-sm btn-outline btn-info" data-toggle="modal" data-target="#TaskModal" title="Add Event" onclick="setEventData('@lead.Lead_ID','@lead.ContName','@lead.DBA')"><i class="ti-timer"></i></button>
                                      </td>
                                   </tr>
                                }                            
                       }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="Leads" />

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="disposition_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Lead Disposition</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label for="NTitle">Disposition</label>
                            @Html.DropDownListFor(m => m.LeadStatus, (List<SelectListItem>)ViewBag.Status_List, new { @class = "form-control form-cutom" })
                            <input type="hidden" id="lead_id" value="" />
                        </div>
                    </div>
                </div>  
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label for="notes">Notes</label>
                            <textarea id="notes" class="form-control form-cutom"></textarea>                          
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul style="list-style-type:none; padding-left:0; max-height:220px; overflow-y:scroll;" id="notesdiv">

                            @*<li class="media">
                    <div class="media-left"><i class="ti-pencil-alt media-object mo-xs img-circle bg-warning text-center"></i></div>
                    <div class="media-body">
                        <h6 class="media-heading"></h6>
                        <p class="text-muted mb-0"></p>
                    </div>
                </li>*@


                        </ul>
                    </div>
                </div>              
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="setDisposition();">Save</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="assignTo_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Assign Lead</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label for="NTitle">Assign User</label>
                            @Html.DropDownListFor(m => m.AssignToID, (List<SelectListItem>)ViewBag.UserList, new { @class = "form-control form-cutom" })
                            <input type="hidden" id="leadid" value="" />
                            <div id="error_div_AssignToID" style="display:none;">
                                <p style="color:red;">Please Choose A User</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="AssignLead();">Save</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="Mail_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Compose Mail</h4>
            </div>
            <div class="modal-body">
                <form action="/Mails/SendMail" method="post" enctype="multipart/form-data" id="mailForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="ToEmail">To</label>
                                <input type="text" name="RelateTo_Name" id="RelateTo_Name" class="form-control" value="" readonly>
                                <input id="ToAddress" name="ToAddress" type="hidden" class="form-control" value="">
                                <a href="#" id="cc" onclick="showCCdiv();">Add Cc</a>
                            </div>
                        </div>
                        <div class="col-sm-12" id="cc_div" style="display:none">
                            <div class="form-group col-sm-12">
                                <label for="cc">Cc</label>
                                <input id="CcAddress" name="CcAddress" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="BCC">BCC</label>
                                <input type="text" name="MailBy_Name" class="form-control" value="@HttpContext.Current.Session["User"].ToString()" readonly>
                                <input id="BccAddress" name="BccAddress" type="hidden" class="form-control" value="@HttpContext.Current.Session["UserName"].ToString()" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="Subject">Subject</label>
                                <input id="Subject" name="Subject" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Attachments</label>
                                <div class="col-sm-10">
                                    <input type="file" id="Attechments" name="Attechments" class="multi" multiple="multiple" data-maxsize="100024" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">
                            <textarea name="MailBody" id="MailBody" data-provide="markdown" rows="10" width="100%"></textarea>
                        </div>
                    </div>
                    <input type="hidden" id="RelateTo_ID" name="RelateTo_ID" value="@Model.Lead_ID" />
                    <input type="hidden" name="MailBy_ID" value="@HttpContext.Current.Session["UserID"].ToString()" />
                    <input type="hidden" name="FromAddress" value="@HttpContext.Current.Session["UserName"].ToString()" />
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancelMail">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="sendMail" onclick="SendEmail();">Send</button>
            </div>
        </div>
    </div>
</div>



<div id="TaskModal" tabindex="-1" role="dialog" aria-labelledby="ModalEventLabel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="ModalEventLabel" class="modal-title">Add New Event</h4>
            </div>
            <div class="modal-body">
                <form id="eForm">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Title</label>
                            <input id="inputTitleEvent" type="text" placeholder="Event Name" class="form-control">
                            <div id="error_div_inputTitleEvent" style="display:none;">
                                <p style="color:red;">Please Enter Title.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <input id="startDate" type="text" class="form-control  date-control">
                            <div id="error_div_startDate" style="display:none;">
                                <p style="color:red;">Please Choose A Date.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Time</label>
                            <input type="text" class="form-control" placeholder="" id="startTime" value="12:00 AM" />
                            <div id="error_div_startTime" style="display:none;">
                                <p style="color:red;">Please Choose A Time.</p>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6">
                        <div class="form-group">
                            <input id="endDate" type="text" class="form-control  date-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input id="endTime" type="text" class="form-control">
                        </div>
                    </div>*@
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Event Duration (in mnts)</label>
                            <input id="eventDuration" type="text" class="form-control" value="15">
                            <div id="error_div_eventDuration" style="display:none;">
                                <p style="color:red;">Please Enter value in multiple 15 mnts.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="RLeadName">Related Lead</label>
                            <input type="text" id="RLeadName" class="form-control" readonly/>
                            <input type="hidden" id="Rlead"/>    
                                                  
                        </div>
                    </div>
                    @*<div class="col-sm-12">
                            <div class="form-group">
                                <input id="inputBackgroundEvent" type="text" value="#0667D6" class="form-control">
                            </div>
                        </div>*@
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Note</label>
                            <textarea id="description" class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <input id="start" type="hidden">
                    <input id="end" type="hidden">
                    <input id="allDay" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" onclick="cancelEvent();" >Cancel</button>
                <button id="btnAddNewEvent" type="submit" class="btn btn-raised btn-black" onclick="addnewevent();">Save</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#startTime").datetimepicker({ locale: "en-gb", format: "LT", stepping: 15 });
        $("#endTime").datetimepicker({ locale: "en-gb", format: "LT", stepping: 15,  format: 'HH:mm' });
    });
</script>



<script>
    // Table Script*******

    $(document).ready(function () {

        var e1 = $("#lead-list-1").DataTable({ pageLength: 50, colReorder: !0, buttons: [ ], searching: !0, aLengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]], order: [[5, "desc"]], columnDefs: [{ orderable: !1, targets: [0, 6] }] });
        $("#lead-list-1_wrapper .col-sm-6:eq(1)").addClass("text-right"), e1.buttons().container().appendTo("#lead-list-1_wrapper .col-sm-6:eq(1)")

    });
</script>
<script>
    function ViewLeads(Lead_ID_PK) {
        //window.location = '/Leads/ViewLead?LeadID=' + Lead_ID_PK;
        window.location = '/Leads/testView?LeadID=' + Lead_ID_PK;
    }

    function DeleteLead(Lead_ID_Auto_PK) {

        var result = confirm("Are you sure to delete this Lead ?");
        if (result == true) {
            // var divId = "div-" + Service_ID_Auto_PK;

            var Ldata = Lead_ID_Auto_PK;

            var url = "/Leads/DeleteLead";
            $.post(url, { Lead_ID_PK: Ldata }, function (data) {
                if (data == "1") {
                    location.reload();
                }
                if (data = "0") {
                    $("#error_msg_tbl").html("<p style=\"color:red;\">There is an error in processing your request. Please Try after some time.</p>");
                    $("#error_msg_tbl").show();
                }
            });
        }
    }
</script>

<script>
    function setDispositionModalData(Lead_Id) {
        $.ajax({
            url: '/Leads/GetDispositionModalData',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ LeadId: Lead_Id }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data != '') {
                    $('#LeadStatus').val(data.LeadStatus);
                    $('#notesdiv').html('');
                    $.each(data.Notes, function (i, foo) {
                        //alert(this.Title);
                        $('#notesdiv').append('<li class="media"><div class="media-left"><i class="ti-pencil-alt media-object mo-xs img-circle bg-warning text-center"></i></div>' +
                        '<div class="media-body">' +
                        '<h6 class="media-heading">' + this.Title + '</h6>' +
                        '<p class="text-muted mb-0">' + this.Description + '</p>' + '</div>' + '</li>');
                    });
                    $("#disposition_Modal").modal('show');
                    $(".se-pre-con").hide();
                }
                else {
                    $("#disposition_Modal").modal('show');
                    $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                $("#disposition_Modal").modal('show');
                $(".se-pre-con").hide();
            }
        });
        $("#lead_id").val(Lead_Id);

    }
    function setDisposition() {
        $(".se-pre-con").show();
        $.post('/Leads/AjaxChangeStatus', { LeadID: $("#lead_id").val(), Disp_ID: $("#LeadStatus").val(), Notes: $("#notes").val() }, function (data) {
            if (data != '') {
                $("#disposition_Modal").modal('hide');
                $("#userTable").html('');
                $("#userTable").html(data);
                $(".se-pre-con").hide();
            }
            else {
                $("#disposition_Modal").modal('hide');
                $(".se-pre-con").hide();
            }
        });
    }
</script>

<script>
    function setData(LeadId, AssignToId) {       
        $("#leadid").val(LeadId);
        $("#AssignToID").val(AssignToId);
    }

    function reAssignLead() {
        $(".se-pre-con").show();
        $.post('/Leads/AjaxChangeAssignToId', { LeadID: $("#leadid").val(), AssignTo_ID: $("#AssignToID").val() }, function (data) {
            if (data != '') {
                $("#assignTo_Modal").modal('hide');
                $("#userTable").html('');
                $("#userTable").html(data);
                $(".se-pre-con").hide();
            }
            else {
                $("#assignTo_Modal").modal('hide');
                $(".se-pre-con").hide();
            }
        });
    }
</script>

<script>
    
    function showCCdiv() {
        $("#cc").hide();
        $("#cc_div").show();
    }


    function setMailData(LeadID,RelateToName,ToEmail) {
        $("#RelateTo_Name").val(RelateToName);
        $("#ToAddress").val(ToEmail);
        $("#RelateTo_ID").val(LeadID);       
    }
    function SendEmail() {
       
        // Checking whether FormData is available in browser
        showLoader();
        if (window.FormData !== undefined) {

            var fileUpload = $("#Attechments").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('ToName', $("#RelateTo_Name").val());
            fileData.append('To', $("#ToAddress").val());
            fileData.append('Cc', $("#CcAddress").val());
            fileData.append('Bcc', $("#BccAddress").val());
            fileData.append('subject', $("#Subject").val());
            fileData.append('body', $("#MailBody").val());
            fileData.append('LeadID', $("#RelateTo_ID").val());
            // $("#loader").show();
            $.ajax({
                url: '/Mails/SendEmail',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    if (data == 'success') {
                        $("#Mail_Modal").modal('hide');
                        hideLoader();
                        $("#mailForm")[0].reset();
                        $(".se-pre-con").hide();
                        showSuccessMsg();
                    }
                    else {
                        $("#Mail_Modal").modal('hide');
                        hideLoader();
                        $(".se-pre-con").hide();
                        $("#mailForm")[0].reset();
                        showErrorMsg();
                    }
                },
                error: function (err) {
                    $("#mailForm")[0].reset();
                    hideLoader();
                    $(".se-pre-con").hide();
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }
</script>

<script>
    function showSuccessMsg() {
        swal({
            title: "Send!",
            text: "Mail Sent Successfully!",
            type: "success",
            confirmButtonClass: "btn-raised btn-success",
            confirmButtonText: "OK"
        })
    }

    function showErrorMsg() {
        swal({
            title: "Fail!",
            text: "Error Occured in Sending Mail!",
            type: "error",
            confirmButtonClass: "btn-raised btn-danger",
            confirmButtonText: "OK"
        })
    }
</script>

<script type="text/javascript">
  
    function showLoader() {
        
        $("#sendMail").html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');       
        }
    function hideLoader() {
           $('#sendMail').html('Send')
        }
    
</script>


<script>
    $(document).ready(function () {
        if ($("#TRemindMe").is(':checked')) {
            $("#Th_div").show();
            $("#Tm_div").show();
        }
        else {
            $("#Th_div").hide();
            $("#Tm_div").hide();
        }

        SetAssignTo();

    });

    function SetTReminder() {
        if ($("#TRemindMe").is(':checked')) {
            $("#Th_div").show();
            $("#Tm_div").show();
        }
        else {
            $("#Th_div").hide();
            $("#Tm_div").hide();
        }
    }

    function SetAssignTo() {
        $("#AssignTo").val($("#AssignToSelect").val());
    }

    function SheduleTask() {
        $(".se-pre-con").show();
        var reminder = '0';
        if ($("#TRemindMe").is(':checked')) {
            reminder = '1';
        }
        else {
            reminder = '0';
        }

        $.ajax({
            url: '/Task/AjaxAddTask',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Titele: $("#TTitle").val(), StartDate: $("#startDate").val(), EndDate: $("#endDate").val(), StartTime: $("#startTime").val(), EndTime: $("#endTime").val(), RelateTo: $("#eLeadId").val(), Description: $("#Description").val(), RemindMe: reminder, Hours: $("#THoures").val(), Minutes: $("#TMinutes").val(), AssignTo: $("#AssignTo").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data == 'Success') {
                    $("#TaskModal").modal('hide');
                    $("#taskForm")[0].reset();
                    // setTaskTabData();
                    $(".se-pre-con").hide();
                }
                else {
                    $("#TaskModal").modal('hide');
                    $("#taskForm")[0].reset();
                    $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                $("#taskForm")[0].reset();
                $('#errorMessage').html("No connection");
                $(".se-pre-con").hide();
            }
        });

    }


    function setEventData(LeadID, ContactPerson,dba) {
        $("#RLeadName").val(ContactPerson);
        $("#Rlead").val(LeadID);
        $("#inputTitleEvent").val(dba);
    }

    function validateEventForm() {
        if ($("#inputTitleEvent").val() == '') {
            $('#error_div_inputTitleEvent').show();
            return false;
        }
        
        else if ($('#startDate').val() == '') {
            $('#error_div_startDate').show();
            $('#error_div_inputTitleEvent').hide();
            return false;
        }
        else if ($('#startTime').val() == '') {
            $('#error_div_startTime').show();
            $('#error_div_startDate').hide();
            $('#error_div_inputTitleEvent').hide();
            return false;
        }
        else if ($('#eventDuration').val() == '') {
            $('#error_div_eventDuration').show();
            $('#error_div_startTime').hide();
            $('#error_div_startDate').hide();
            $('#error_div_inputTitleEvent').hide();
            return false;
        }
        else if ($('#eventDuration').val() != '' && ((parseInt($('#eventDuration').val()) % 15) != 0)) {
            $('#error_div_eventDuration').show();
            $('#error_div_startTime').hide();
            $('#error_div_startDate').hide();
            $('#error_div_inputTitleEvent').hide();
            return false;
        }        
        else {
            $('#error_div_eventDuration').hide();
            $('#error_div_startTime').hide();
            $('#error_div_startDate').hide();
            $('#error_div_inputTitleEvent').hide();
            return true;
        }
    }

    function addnewevent() {
        if (validateEventForm()) {
            $(".se-pre-con").show();
            $("#TaskModal").modal('hide');
            var startTime;
            var tim = $("#startTime").val().split(' ');
            var tim1 = tim[0].split(':')[0].length;
           
            if (tim[0].split(':')[0].length = 1) {
                startTime = '0' + tim[0].split(':')[0] + ':' + tim[0].split(':')[1] + ' ' + tim[1];
               
            }
            else {
                startTime = tim[0];
              
            }
            //alert($("#startTime").val());
            //alert(ConvertTimeformatTo24($("#startTime").val()));
            //alert(moment(ConvertTimeformatTo24($("#startTime").val()), 'HH:mm').format('HH:mm'));
            
            var dataRow = {
                'Title': $("#inputTitleEvent").val(),
                'NewEventDate': moment($("#startDate").val()).format('MM/DD/YY'),
                'NewEventTime': moment(ConvertTimeformatTo24($("#startTime").val()), 'HH:mm').format('HH:mm'),
                'NewEventDuration': $('#eventDuration').val(),
                'RelatedLead': $('#Rlead').val(),
                'Description': $('#description').val()
            }

           // ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/LeadEvents/SaveEvent",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $("#TaskModal").modal('hide');
                        $("#eForm")[0].reset();
                        $(".se-pre-con").hide();                        
                    }
                    else {
                        $("#TaskModal").modal('hide');
                        $("#eForm")[0].reset();
                        $(".se-pre-con").hide();
                    }
                }
            });
        }
    }


    function ConvertTimeformatTo24(str) {
        var time = str;
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        var AMPM = time.match(/\s(.*)$/)[1];
        if (AMPM == "PM" && hours < 12) hours = hours + 12;
        if (AMPM == "AM" && hours == 12) hours = hours - 12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if (hours < 10) sHours = "0" + sHours;
        if (minutes < 10) sMinutes = "0" + sMinutes;
        // alert(sHours + ":" + sMinutes);
        return (sHours + ":" + sMinutes);
    }

    function cancelEvent() {
        $("#eForm")[0].reset();
    }

    //function AddNewEvent() {
    //    $(".se-pre-con").show();
    //    $.ajax({
    //        url: '/Calender/SaveEvent',
    //        dataType: "json",
    //        type: "POST",
    //        contentType: 'application/json; charset=utf-8',
    //        data: JSON.stringify({ Title: $("#inputTitleEvent").val(), StartDate: $("#startDate").val() + ' ' + $("#startTime").val(), EndDate: $("#endDate").val() + ' ' + $("#endTime").val(), RelatedLead: $("#Rlead").val(), Description: $("#description").val() }),
    //        async: true,
    //        processData: false,
    //        cache: false,
    //        success: function (data) {
    //            if (data == '1') {                   
    //                $("#TaskModal").modal('hide');
    //                $("#eForm")[0].reset();
    //                $(".se-pre-con").hide();
    //            }
    //            else {
    //                $("#TaskModal").modal('hide');
    //                $("#eForm")[0].reset();
    //                $(".se-pre-con").hide();
    //            }
    //        },
    //        error: function (xhr) {
    //            $("#TAskModal").modal('hide');
    //            $("#eForm")[0].reset();
    //            $('#errorMessage').html("No connection");
    //            $(".se-pre-con").hide();
    //        }
    //    });
    //}
</script>


<script>
    $(document).ready(function () {

        $("#selectAll").click(function () {
            var leadid = $("#Leads").val();
            if (!$("#selectAll").is(':checked')) {
                $(".lead_id_check").prop('checked', $(this).prop("checked"));
                $("#Leads").val('');
            }
            else {
                $(".lead_id_check").prop('checked', $(this).prop("checked"));
                $(".lead_id_check").each(function () {
                    var $this = $(this);
                    var id = $this.attr('id');
                    var temp = id.split('_');
                    if ($("#selectAll").is(":checked")) {
                        leadid = leadid + "," + temp[1];
                        $("#Leads").val(leadid);
                    }
                });
            }
        });
    });
    function SelectLead(thi) {
        var lead_ids = $("#Leads").val();
        var id = $(thi).attr('id');
        var temp = id.split('_');

        if ($(thi).is(":checked")) {
            lead_ids = lead_ids + "," + temp[1];
            $("#Leads").val(lead_ids);
        } else {
            lead_ids = lead_ids.replace(temp[1], "");
            $("#Leads").val(lead_ids);
        }
    }

    function AssignLead() {
        //
        var aFlag = false;
        var leads = $("#Leads").val().split(',');
        for (var i = 0; i < leads.length; ++i) {
            if (leads[i] != "") {
                aFlag = true;
            }
        }

        if (aFlag == true) {
            $(".se-pre-con").show();
            if ($("#AssignToID").val() != '0') {
                
                $('#error_Div_AssignTo').hide();
                $(".se-pre-con").show();
                $.post('/Leads/AjaxAssignLead', { Lead_ID: $("#Leads").val(), User_ID: $("#AssignToID").val() }, function (data) {
                    if (data != "") {
                        $('#uTableBody').html('');
                        $('#uTableBody').html(data);
                        $("#selectAll").attr('checked', false);
                        $('#assignTo_Modal').modal('hide');
                        $("#Leads").val('');
                        $(".se-pre-con").hide();
                    }
                });
            }
            else {
                $('#error_div_AssignToID').show();
                $(".se-pre-con").hide();
            }
        }
        else {
            showAlert();
        }
    }

    function showAlert() {
        swal({
            title: "Warning!",
            text: "Please Choose A lead first!",
            type: "warning",
            confirmButtonClass: "btn-raised btn-warning",
            confirmButtonText: "OK"
        },
        function () {
            $('#assignTo_Modal').modal('hide');
        });

    }
</script>

