@model Project.Web.Models.LeadModel

@{
    ViewBag.Title = "testView";
}

<!-- View Page Css-->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/build/css/new_erpcss.css")">

<script>
    $(document).ready(function () {
        $(".date-control").daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
    });
</script>

<div class="page-container">
    <div class="page-header clearfix page-header-viewleads">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mt-0 mb-5 ">View Leads</h4>
                <ol class="breadcrumb mb-0">
                    <li><a href="@Url.RouteUrl("AdminDashboard")">Home</a></li>
                    <li><a href="@Url.RouteUrl("ManageLead")">Lead</a></li>
                    <li class="active">View Leads</li>
                </ol>
            </div>
            <div class="col-sm-6">
                @*<div class="btn-group mt-5">
                    <button type="button" class="btn btn-default btn-outline"><i class="flag-icon flag-icon-us mr-5"></i> English</button>
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                    <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                        <li><a href="#"><i class="flag-icon flag-icon-de mr-5"></i> German</a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-fr mr-5"></i> French</a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-es mr-5"></i> Spanish</a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-it mr-5"></i> Italian</a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-jp mr-5"></i> Japanese</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
    <div class="page-content container-fluid page-contant-viewleads">
        <form class="form-horizontal" action="/Leads/AjaxEditLead" method="post" enctype="multipart/form-data" id="leadForm">
            <div class="col-sm-7 left-maindiv">
                <div class="widget">
                    <div class="widget-heading clearfix">
                        <h3 class="widget-title pull-left">Edit Lead</h3>
                        @if (ViewBag.Error_Msg != "")
                        {
                            <div style="margin-left:200px;">
                                <p style="color:red;">@ViewBag.Error_Msg</p>
                            </div>
                        }
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" title="Edit" onclick="SubmitForm();"><i class="ti-save"></i></button>
                            <button type="button" class="btn btn-default" title="Cancel" onclick="Cancel();"><i class="ti-share-alt"></i></button>
                        </div>
                    </div>
                    <div class="widget-body">                       
                        <ul role="tablist" class="nav nav-tabs mb-15">
                            <li role="presentation" class="active"><a href="#bInfo" aria-controls="bInfo" role="tab" data-toggle="tab">Business Information</a></li>
                            <li role="presentation"><a href="#owner" aria-controls="owner" role="tab" data-toggle="tab">Owner</a></li>
                            <li role="presentation"><a href="#F_Pro" aria-controls="F_Pro" role="tab" data-toggle="tab">Financial Profile</a></li>
                            <li role="presentation"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab">Pricing</a></li>
                        </ul>
                        <div class="tab-content" id="LeadData">
                            <div id="bInfo" role="tabpanel" class="tab-pane active">
                                <input type="hidden" name="Lead_ID" value="@Model.Lead_ID" />
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="AssignToID">Assign To</label>
                                        @Html.DropDownListFor(m => m.AssignToID, (List<SelectListItem>)ViewBag.UserList, new { @class = "form-control form-cutom" })
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="LeadGroup">Group</label>
                                        @Html.DropDownListFor(m => m.LeadGroup, (List<SelectListItem>)ViewBag.Group_List, new { @class = "form-control form-cutom" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="LeadSource">Source</label>
                                        @Html.DropDownListFor(m => m.LeadSource, (List<SelectListItem>)ViewBag.Source_List, new { @class = "form-control form-cutom" })
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="LeadStatus">Disposition</label>
                                        @Html.DropDownListFor(m => m.LeadStatus, (List<SelectListItem>)ViewBag.Status_List, new { @class = "form-control form-cutom" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DBA">Business Name/DBA</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DBA" id="DBA" value="@Model.DBA">
                                        <div id="error_Div_DBA" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Business Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="ContName">Contact Name</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="ContName" id="ContName" value="@Model.ContName">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="bPhone">Business Phone</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="bPhone" id="bPhone"  maxlength="15" value="@Model.bPhone">
                                        <div id="error_Div_bPhone" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Valid Phone Number</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="Email">Email</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="Email" id="Email" value="@Model.Email">
                                        <div id="error_Div_Email" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Valid Email</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="website">Website</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="website" id="website" value="@Model.website">
                                        <div id="error_Div_website" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Website</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="AltNo">Alternative No</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="AltNo" id="AltNo" onkeypress="return isNumberKey(event)" maxlength="13" value="@Model.AltNo">
                                        <div id="error_Div_AltNo" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Valid No</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">

                                        <div class="checkbox-inline checkbox-custom">
                                            <input id="cPro" type="checkbox" value="" onclick="setCurrProcessing();">
                                            <label for="cPro" class="checkbox-muted text-muted">Currently Processing</label>
                                        </div>
                                        <input type="hidden" name="currProcessing" id="currProcessing" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="EstMontVolume">Estimated Monthly Volume in $</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="EstMontVolume" id="EstMontVolume" onkeypress="return isNumberKey(event)" value="@Model.EstMontVolume">
                                        <div id="error_Div_EstMontVolume" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Estimated Monthly Volume</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="MerAppUsername">Merchant Application Username</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MerAppUsername" id="MerAppUsername" value="@Model.MerAppUsername">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="MerAppPassword">Merchant Application Password</label>
                                        <input placeholder="" class="form-control form-cutom" type="password" name="MerAppPassword" id="MerAppPassword" value="@Model.MerAppPassword">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="LBusiName">Legal Business name</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="LBusiName" id="LBusiName" value="@Model.LBusiName">
                                        <div id="error_Div_LBusiName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="OwnershipType" id="OwnershipType">
                                            <option value="0">Select Ownership</option>
                                            <option value="Sole Prop.">Sole Prop.</option>
                                            <option value="Corporation">Corporation</option>
                                            <option value="LLC">LLC</option>
                                            <option value="Partnership">Partnership</option>
                                            <option value="Non-Profit">Non-Profit</option>
                                        </select>
                                        <input type="hidden" id="OType" value="@Model.OwnershipType" />
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="YrInBusiness">Years In Business</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="YrInBusiness" id="YrInBusiness" onkeypress="return isNumberKey(event)" value="@Model.YrInBusiness">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="MtInBusiness">Months In Business</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MtInBusiness" id="MtInBusiness" onkeypress="return isNumberKey(event)" value="@Model.MtInBusiness">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="BDescription">Business Description</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BDescription" id="BDescription" value="@Model.BDescription">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="LAddress1">Location Address 1</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="LAddress1" id="LAddress1" value="@Model.LAddress1">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="LAddress2">Location Address 2</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="LAddress2" id="LAddress2" value="@Model.LAddress2">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="city">City</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="city" id="city" value="@Model.city">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="state">State</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="state" id="state" value="@Model.state">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="zip">Zip</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="zip" id="zip" onkeypress="return isNumberKey(event)" maxlength="7" value="@Model.zip">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="LPhoneNo">Location Phone Number</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="LPhoneNo" id="LPhoneNo" onkeypress="return isNumberKey(event)" maxlength="13" value="@Model.LPhoneNo">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="LFaxNo">Location Fax Number</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="LFaxNo" id="LFaxNo" onkeypress="return isNumberKey(event)" maxlength="13" value="@Model.LFaxNo">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox-inline checkbox-custom">
                                            <input id="sameAsLoc" type="checkbox" value="" onclick="checkMailingAddress();">
                                            <label for="sameAsLoc" class="checkbox-muted text-muted">Same As Location Address</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="MAddress1">Mailing Address 1</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MAddress1" id="MAddress1" value="@Model.MAddress1">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="MAddress2">Mailing Address 2</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MAddress2" id="MAddress2" value="@Model.MAddress2">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="mcity">City</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="mcity" id="mcity" value="@Model.mcity">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="mstate">State</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="mstate" id="mstate" value="@Model.mstate">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="mzip">Zip</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="mzip" id="mzip" onkeypress="return isNumberKey(event)" maxlength="7" value="@Model.mzip">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="owner" role="tabpanel" class="tab-pane">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="FName">First Name</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="FName" id="FName" value="@Model.FName">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="LName">Last Name</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="LName" id="LName" value="@Model.LName">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DOB">Date of Birth</label>
                                        <input placeholder="" class="form-control form-cutom date-added" type="text" name="DOB" id="DOB" value="@Model.DOB">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="SocSecurity">Social Security</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="SocSecurity" id="SocSecurity" value="@Model.SocSecurity">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DLicense">Driver License</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DLicense" id="DLicense" value="@Model.DLicense">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="DLicenseState">Driver License State</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DLicenseState" id="DLicenseState" value="@Model.DLicenseState">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox-inline checkbox-custom">
                                            <input id="OwnersameAsLoc" type="checkbox" value="" onclick="checkResidenceAddress();">
                                            <label for="OwnersameAsLoc" class="checkbox-muted text-muted">Same As Location Address</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="RAddress1">Residence Address 1</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="RAddress1" id="RAddress1" value="@Model.RAddress1">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="RAddress2">Residence Address 2</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="RAddress2" id="RAddress2" value="@Model.RAddress2">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="rcity">City</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="rcity" id="rcity" value="@Model.rcity">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="rstate">State</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="rstate" id="rstate" value="@Model.rstate">
                                        <div id="error_Div_MerAppPassword" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Password</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="rzip">Zip</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="rzip" id="rzip" onkeypress="return isNumberKey(event)" maxlength="7" value="@Model.rzip">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="OwnerPhone">Owner Phone</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="OwnerPhone" id="OwnerPhone" onkeypress="return isNumberKey(event)" maxlength="13" value="@Model.OwnerPhone">
                                        <div id="error_Div_MerAppUsername" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Merchant Application Username</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="F_Pro" role="tabpanel" class="tab-pane">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <select class="form-control" name="MerchantType" id="MerchantType">
                                            <option value="0">Select Merchant Type</option>
                                            <option value="Retail">Retail</option>
                                            <option value="Retail w/tip">Retail w/tip</option>
                                            <option value="Mail/Telephone">Mail/Telephone</option>
                                            <option value="Internet">Internet</option>
                                            <option value="Restaurant">Restaurant</option>
                                            <option value="Lodging">Lodging</option>
                                        </select>
                                        <input type="hidden" id="MType" value="@Model.MerchantType" />
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="RSwiped">Retail Swiped %</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="RSwiped" id="RSwiped" value="@Model.RSwiped">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="RKeyed">Retail Keyed %</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="RKeyed" id="RKeyed" value="@Model.RKeyed">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="internet">Internet %</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="internet" id="internet" value="@Model.internet">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="MTOrders">Mail/Telephone Orders %</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MTOrders" id="MTOrders" value="@Model.MTOrders">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="avgTicket">Average Ticket $</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="avgTicket" id="avgTicket" value="@Model.avgTicket">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="highTicket">High Ticket $</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="highTicket" id="highTicket" value="@Model.highTicket">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="MVolume">Monthly Volume $</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MVolume" id="MVolume" onkeypress="return isNumberKey(event)" value="@Model.MVolume">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="BName">Bank Name</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BName" id="BName" value="@Model.BName">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="BCity">Bank City</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BCity" id="BCity" value="@Model.BCity">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="BState">Bank State</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BState" id="BState" value="@Model.BState">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="BZip">Bank Zip</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BZip" id="BZip" onkeypress="return isNumberKey(event)" maxlength="7" value="@Model.BZip">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="BRoutNumber">Bank Routing Number</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BRoutNumber" id="BRoutNumber" onkeypress="return isNumberKey(event)" value="@Model.BRoutNumber">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="BacNumber">Bank Account Number</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BacNumber" id="BacNumber" onkeypress="return isNumberKey(event)" value="@Model.BacNumber">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="pricing" role="tabpanel" class="tab-pane">

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <select class="form-control" name="Equipment" id="Equipment">
                                            <option value="0">Select Equipment</option>
                                            <option value="Free Terminal">Free Terminal</option>
                                            <option value="Paid Terminal">Paid Terminal</option>
                                            <option value="Wireless Terminal">Wireless Terminal</option>
                                            <option value="EPN Mobile">EPN Mobile</option>
                                            <option value="Smart Swipe">Smart Swipe</option>
                                            <option value="Smart Swipe POS">Smart Swipe POS</option>
                                            <option value="Virtual Terminal/Gateway">Virtual Terminal/Gateway</option>
                                            <option value="Reprogram">Reprogram</option>
                                            <option value="POS Reprogram">POS Reprogram</option>
                                        </select>
                                        <input type="hidden" id="Eqp" value="@Model.Equipment" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DebitQual">Debit Qual</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitQual" id="DebitQual" onkeypress="return isNumberKey(event)" value="@Model.DebitQual">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="DebitMIDQual">Debit MID Qual</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitMIDQual" id="DebitMIDQual" onkeypress="return isNumberKey(event)" value="@Model.DebitMIDQual">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DebitNonQual">Debit Non Qual</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitNonQual" id="DebitNonQual" onkeypress="return isNumberKey(event)" value="@Model.DebitNonQual">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="CreditQual">Credit Qual</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="CreditQual" id="CreditQual" onkeypress="return isNumberKey(event)" value="@Model.CreditQual">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="CreditMIDQual">Credit MID Qual</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="CreditMIDQual" id="CreditMIDQual" onkeypress="return isNumberKey(event)" value="@Model.CreditMIDQual">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="CreditNonQual">Credit Non Qual</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="CreditNonQual" id="CreditNonQual" onkeypress="return isNumberKey(event)" value="@Model.CreditNonQual">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DebitQualPerItem">Debit Qual Per Item</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitQualPerItem" id="DebitQualPerItem" onkeypress="return isNumberKey(event)" value="@Model.DebitQualPerItem">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="DebitMIDQualPerItem">Debit MID Qual Per Item</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitMIDQualPerItem" id="DebitMIDQualPerItem" onkeypress="return isNumberKey(event)" value="@Model.DebitMIDQualPerItem">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DebitNonQualPerItem">Debit Non Qual Per Item</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitNonQualPerItem" id="DebitNonQualPerItem" onkeypress="return isNumberKey(event)" value="@Model.DebitNonQualPerItem">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="CreditQualPerItem">Credit Qual Per Item</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="CreditQualPerItem" id="CreditQualPerItem" onkeypress="return isNumberKey(event)" value="@Model.CreditQualPerItem">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="CreditMIDQualPerItem">Credit MID Qual Per Item</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="CreditMIDQualPerItem" id="CreditMIDQualPerItem" onkeypress="return isNumberKey(event)" value="@Model.CreditMIDQualPerItem">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="CreditNonQualPerItem">Credit Non Qual Per Item</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="CreditNonQualPerItem" id="CreditNonQualPerItem" onkeypress="return isNumberKey(event)" value="@Model.CreditNonQualPerItem">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="DebitTransFee">Debit Transaction Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="DebitTransFee" id="DebitTransFee" onkeypress="return isNumberKey(event)" value="@Model.DebitTransFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ReturnTransFee">Return transaction Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="ReturnTransFee" id="ReturnTransFee" onkeypress="return isNumberKey(event)" value="@Model.ReturnTransFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="EBTTransFee">EBT Transaction Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="EBTTransFee" id="EBTTransFee" onkeypress="return isNumberKey(event)" value="@Model.EBTTransFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ElectroAVSFee">Electronic AVS Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="ElectroAVSFee" id="ElectroAVSFee" onkeypress="return isNumberKey(event)" value="@Model.ElectroAVSFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="AMEXTransFee">AMEX Trans Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="AMEXTransFee" id="AMEXTransFee" onkeypress="return isNumberKey(event)" value="@Model.AMEXTransFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="StatementFee">Statement</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="StatementFee" id="StatementFee" onkeypress="return isNumberKey(event)" value="@Model.StatementFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="MontMini">Monthly Minimum</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="MontMini" id="MontMini" onkeypress="return isNumberKey(event)" value="@Model.MontMini">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="ChargeBackFee">Chargeback Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="ChargeBackFee" id="ChargeBackFee" onkeypress="return isNumberKey(event)" value="@Model.ChargeBackFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="BatchFee">Batch Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="BatchFee" id="BatchFee" onkeypress="return isNumberKey(event)" value="@Model.BatchFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="GatewayFee">Gateway Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="GatewayFee" id="GatewayFee" onkeypress="return isNumberKey(event)" value="@Model.GatewayFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="WirelessFee">Wireless Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="WirelessFee" id="WirelessFee" onkeypress="return isNumberKey(event)" value="@Model.WirelessFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="RetrievalFee">Retrieval Fee</label>
                                        <input placeholder="" class="form-control form-cutom" type="text" name="RetrievalFee" id="RetrievalFee" onkeypress="return isNumberKey(event)" value="@Model.RetrievalFee">
                                        <div id="error_Div_ContName" style="display:none;color:red;">
                                            <p style="color:red;">Please Enter Contact Name</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </form>        
        <div class="col-sm-5 right-maindiv">
            <div class="widget meeeting-panel">
                <div class="widget-heading clearfix hdng-metng">
                    <h3 class="widget-title pull-left heading-custom">Notes</h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Notes_Modal"><i class="ti-plus"></i> Add</button>
                    </div>
                </div>
                <div class="widget-body meeting-maindiv">
                    <div class="form-horizontal">
                        <div class="tab-content">
                            <div id="general" role="tabpanel" class="tab-pane active">
                                <div ng-controller="Ctrl" id="notesTable">
                                    @foreach (var notes in Model.Notes)
                                    {
                                        <div class="form-group meeting-box">
                                            <div class="media1">
                                                <div class="media-left avatar meeting-icon-avtar"><span class="task-icon"><i class="ti-notepad"></i></span></div>
                                                <div class="media-body">
                                                    <h5 class="media-heading meeting-user">@notes.Description</h5>
                                                    <p class="mb-0">
                                                        <a href="#" id="meeting-link" class="meetingade-user">Aded by @notes.Note_Owner_Name</a>
                                                        At <span class="text-muted">@notes.DateTaken</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget meeeting-panel">
                <div class="widget-heading clearfix hdng-metng">
                    <h3 class="widget-title pull-left heading-custom">Events</h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#TaskModal"><i class="ti-plus"></i> Add</button>
                    </div>
                </div>
                <div class="widget-body meeting-maindiv">
                    <div class="form-horizontal">
                        <div class="tab-content">
                            <div id="general" role="tabpanel" class="tab-pane active">
                                <div ng-controller="Ctrl" id="taskTable">
                                    @foreach (var task in Model.Task)
                                    {
                                        <div class="form-group meeting-box">
                                            <div class="media1">
                                                <div class="media-left avatar meeting-icon-avtar"><span class="meeting-icon"><i class="ti-time"></i></span></div>
                                                <div class="media-body">
                                                    <h5 class="media-heading meeting-user">@task.StartDate</h5>
                                                    <div class="mb-0">
                                                        <a href="#" id="meeting-link" class="meetingade-user">
                                                            @task.Description
                                                        </a><br />
                                                        Set For <span class="text-muted">@task.AssignToName</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>   
</div>

<input type="hidden" id="LeadId" value="@Model.Lead_ID" />
<input type="hidden" id="Lead_ID" name="Lead_ID" value="@Model.Lead_ID" />
<input type="hidden" id="AssignTo" value="@HttpContext.Current.Session["UserName"].ToString()" />

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="TaskModal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Add A Event</h4>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="TTitle">Title</label>
                                <input type="text" id="TTitle" name="Title" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="startDate">Start Date</label>
                                <div class="input-group">
                                    <input id="startDate" type="text" class="form-control  date-control"><span class="input-group-addon"><span class="ti-calendar"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endDate">Due Date</label>
                                <div class="input-group">
                                    <input id="endDate" type="text" class="form-control  date-control"><span class="input-group-addon"><span class="ti-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="TRelateTo">Relate To</label>
                                <select id="TRelateTo" class="form-control" disabled="disabled">
                                    <option class="active" value="LEAD">Lead</option>
                                    <option value="OPPORTUNITY">Opportunity</option>
                                    <option value="CLIENT">Client</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="TRelateToName">Name</label>
                                <div class="input-group">
                                    <input id="TRelateToName" type="text" class="form-control" value="@Model.ContName" readonly><span class="input-group-addon"><span class="ti-search"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="Description">Description</label>
                                <textarea class="form-control" placeholder="Description.." id="Description"></textarea>
                                <div id="error_div_Notes" style="display:none;">
                                    <p style="color:red;">Please add Note For Changing Status</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <div class="checkbox-inline checkbox-custom pull-left">
                                    <input id="TRemindMe" type="checkbox" onclick="SetTReminder();">
                                    <label for="TRemindMe" class="checkbox-muted text-muted">&nbsp; Remind Me Before </label>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group" id="Th_div" style="display:none;">
                                <input type="number" class="form-control" id="THoures" min="1" max="24" placeholder="Hours" />
                            </div>
                            <div class="col-sm-3 form-group" id="Tm_div" style="display:none;">
                                <input type="number" class="form-control" id="TMinutes" min="1" max="60" placeholder="Minutes" />
                            </div>
                        </div>
                    </div>
                    @if (@HttpContext.Current.Session["User_Type"].ToString() == "Administrator")
                    {
                        @*<div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6">
                                        <label for="AssignToSelect">Assign To</label>
                                        <select id="AssignToSelect" class="form-control" onchange="SetAssignTo();">
                                            @foreach (var user in ViewBag.Users)
                                            {
                                                <option value="@user.Email">@user.FullName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>*@
                    }
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="SheduleTask();">Save</button>
            </div>
        </div>
    </div>
</div>


<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="Notes_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Add A Note</h4>
            </div>
            <div class="modal-body">
                <form id="noteForm">
                    @*<div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="NTitle">Title</label>
                                <input type="text" id="NTitle" name="Title" class="form-control" />
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="RelateTo">Relate To</label>
                                <select id="RelateTo" class="form-control" disabled="disabled">
                                    <option class="active" value="LEAD">Lead</option>
                                    <option value="OPPORTUNITY">Opportunity</option>
                                    <option value="CLIENT">Client</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="RelateToName">Name</label>
                                <div class="input-group">
                                    <input id="RelateToName" type="text" class="form-control" value="@Model.ContName" readonly><span class="input-group-addon"><span class="ti-search"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="Note">Note</label>
                                <textarea class="form-control" placeholder="Note.." id="Note"></textarea>
                                <div id="error_div_Notes" style="display:none;">
                                    <p style="color:red;">Please add Note</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="AddNote();">Save</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // // $("#startDate").datetimepicker({ locale: "en-gb" });
        // $("#endDate").datetimepicker({ locale: "en-gb" });
        $("#startTime").datetimepicker({ locale: "en-gb", format: "LT" });
        $("#endTime").datetimepicker({ locale: "en-gb", format: "LT" });
    });
</script>

<script type="text/javascript">

    function showLoader() {

        $("#sendMail").html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');
    }
    function hideLoader() {
        $('#sendMail').html('Send')
    }

</script>


<script>
    $(document).ready(function () {
        if ($("#TRemindMe").is(':checked')) {
            $("#Th_div").show();
            $("#Tm_div").show();
        }
        else {
            $("#Th_div").hide();
            $("#Tm_div").hide();
        }

        SetAssignTo();

    });

    function SetTReminder() {
        if ($("#TRemindMe").is(':checked')) {
            $("#Th_div").show();
            $("#Tm_div").show();
        }
        else {
            $("#Th_div").hide();
            $("#Tm_div").hide();
        }
    }

    function SetAssignTo() {
        $("#AssignTo").val($("#AssignToSelect").val());
    }

    function SheduleTask() {
        var reminder = '0';
        if ($("#TRemindMe").is(':checked')) {
            reminder = '1';
        }
        else {
            reminder = '0';
        }

        $.ajax({
            url: '/Task/AjaxAddTask',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Titele: $("#TTitle").val(), StartDate: $("#startDate").val(), EndDate: $("#endDate").val(), RelateTo: $("#LeadId").val(), Description: $("#Description").val(), RemindMe: reminder, Hours: $("#THoures").val(), Minutes: $("#TMinutes").val(), AssignTo: $("#AssignTo").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data == 'Success') {                    
                    $("#TaskModal").modal('hide');
                    $("#taskForm")[0].reset();                   
                    setTaskTabData();
                }
                else {
                    $("#TaskModal").modal('hide');
                    $("#taskForm")[0].reset();
                }
            },
            error: function (xhr) {
                $("#taskForm")[0].reset();
                $('#errorMessage').html("No connection");
            }
        });

    }

</script>

<script>
    function AddNote() {
        showLoader();
        $.ajax({
            url: '/Notes/AjaxAddNote',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Title: $("#NTitle").val(), RelateTo: $("#LeadId").val(), Note: $("#Note").val(), RelatedTable: 'Lead' }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data = 'Success') {
                    $("#Notes_Modal").modal('hide');
                    $("#noteForm")[0].reset();
                    hideLoader();
                    setNotesTabData();
                }
                else {
                    $("#Notes_Modal").modal('hide');
                    $("#noteForm")[0].reset();
                    hideLoader();
                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
                $("#noteForm")[0].reset();
                hideLoader();
            }
        });
    }
</script>

<script>
    function setTaskTabData() {

        $.post('/Leads/AjaxTasks', { LeadID: $("#LeadId").val() }, function (data) {
            if (data != '') {
                $("#taskTable").html('');
                $("#taskTable").html(data);
            }
            else {
            }
        });
    }

    function setNotesTabData() {
        $.post('/Leads/AjaxNotes', { LeadID: $("#LeadId").val() }, function (data) {
            if (data != '') {
                $("#notesTable").html('');
                $("#notesTable").html(data);
            }
            else {
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        var dat = $("#curDat").val().toString();
        $(".date-added").daterangepicker({
            singleDatePicker: !0,
            maxDate: dat,
            locale: {
                format: 'MM/DD/YY'
            },
        });
    });
</script>

<script>
    $(document).ready(function () {
        if ($("#cPro").is(':checked')) {
            $("#currProcessing").val("Y");
        }
        else {
            $("#currProcessing").val("N");
        }
    });
    function setCurrProcessing() {
        if ($("#cPro").is(':checked')) {
            $("#currProcessing").val("Y");
        }
        else {
            $("#currProcessing").val("N");
        }
    }

    function checkMailingAddress() {
        if ($("#sameAsLoc").is(':checked')) {
            $("#MAddress1").val($("#LAddress1").val());
            $("#MAddress2").val($("#LAddress2").val());
            $("#mcity").val($("#city").val());
            $("#mstate").val($("#state").val());
            $("#mzip").val($("#zip").val());
        }
    }

    function checkResidenceAddress() {
        if ($("#OwnersameAsLoc").is(':checked')) {
            $("#RAddress1").val($("#LAddress1").val());
            $("#RAddress2").val($("#LAddress2").val());
            $("#rcity").val($("#city").val());
            $("#rstate").val($("#state").val());
            $("#rzip").val($("#zip").val());
        }
    }

</script>
<script type="text/javascript">


    function validateForm() {
        var emailRegex = /^[A-Za-z0-9._]*\@@[A-Za-z]*\.[A-Za-z]{2,5}$/;
        if ($("#DBA").val().trim() == "") {

            $("#error_Div_DBA").show();
            return false();
        }
        else if ($("#ContName").val().trim() == "") {
            $("#error_Div_ContName").show();
            $("#error_Div_DBA").hide();
            return false;
        }
        else if ($("#bPhone").val().trim() == "") {
            alert();
            $("#error_Div_bPhone").show();
            $("#error_Div_ContName").hide();
            $("#error_Div_DBA").hide();
            return false;
        }
        else if ($("#bPhone").val().trim().length <10 ) {

            $("#error_Div_bPhone").show();
            $("#error_Div_ContName").hide();
            $("#error_Div_DBA").hide();
            return false;
        }
        //else if ($("#Email").val().trim() == "") {
        //    $("#error_Div_Email").show();
        //    $("#error_Div_bPhone").hide();
        //    $("#error_Div_ContName").hide();
        //    $("#error_Div_DBA").hide();
        //    return false;
        //}
        //else if (!emailRegex.test($("#Email").val().trim())) {
        //    $("#error_Div_Email").show();
        //    $("#error_Div_bPhone").hide();
        //    $("#error_Div_ContName").hide();
        //    $("#error_Div_DBA").hide();
        //    return false;
        //}
        //else if ($("#website").val().trim() == "") {
        //    $("#error_Div_website").show();
        //    $("#error_Div_Email").hide();
        //    $("#error_Div_bPhone").hide();
        //    $("#error_Div_ContName").hide();
        //    $("#error_Div_DBA").hide();
        //    return false;
        //}
        else {
          //  $("#error_Div_website").hide();
           // $("#error_Div_Email").hide();
            $("#error_Div_bPhone").hide();
            $("#error_Div_ContName").hide();
            $("#error_Div_DBA").hide();
            return true;
        }
    }


    function SubmitForm() {       
        if (validateForm()) {          
            AddLead();
        }
    }

    function Cancel() {
        window.location = '@Url.RouteUrl("ManageLead")';
    }

</script>

<script>
    function AddLead() {       
        var form = $('#leadForm');
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (data) {
                if (data == '0') {
                    ShowLeadData();
                    showSuccessMsg();
                    // closeWindow();
                }

                if (data == '1') {
                    showErrorMsg();
                }

                if (data == '2') {
                    ShowLeadData();
                    showWarningMsg();
                }

                if (data == '3') {
                    ShowLeadData();
                    showWarningMsg();
                }

                if (data == "4") {
                    ShowLeadData();
                    showWarningMsg();
                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
            }
        });
    }

    

    function ShowLeadData() {
        $.post('/Leads/AjaxLeadData', { LeadID: $("#LeadId").val() }, function (data) {
            if (data != '') {
                $("#LeadData").html('');
                $("#LeadData").html(data);
            }
            else {
            }
        });
    }

    function showSuccessMsg() {
        //$("#sweet-3").on("click", function () {
        swal({
            title: "Success!",
            text: "Lead Details Updated Succesfully!",
            type: "success",
            confirmButtonClass: "btn-raised btn-success btn-ok",
            confirmButtonText: "OK"
        })

        //})
    }

    function showErrorMsg() {
        //$("#sweet-6").on("click", function () {
        swal({
            title: "Fail!",
            text: "Error Occured in updating Lead!",
            type: "error",
            confirmButtonClass: "btn-raised btn-danger",
            confirmButtonText: "OK"
        })
        //  })
    }

    function showWarningMsg() {
        swal({
            title: "Warning!",
            text: "Some Lead details is not updated . Pls check!",
            type: "warning",
            confirmButtonClass: "btn-raised btn-warning",
            confirmButtonText: "OK"
        })

    }


    function closeWindow() {
        window.close();
    };

</script>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function zipCheck(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        else {
            return true;
        }
    }


</script>

