@model Project.Web.Models.LeadModel
@{
    ViewBag.Title = "testView";
}

<style>
    .showmoredetails {
        display: none;
    }

    .hidebtn {
        display: none;
    }

    .editable-click, a.editable-click {
        text-decoration: none;
        color: #428bca;
        border-bottom: dashed 0px #428bca;
    }

    .edittext-color {
        color: #333 !important;
        border: 0 !important;
        outline: none !important;
        text-decoration: none !important;
    }

        .edittext-color .edits-pencil {
            margin-left: 10px;
        }

    .comment-userimg {
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }

    .comment-boxdiv {
        margin-top: 15px;
    }

    .page-header {
        margin: 0 0 20px;
    }
</style>



<style>
    .view-leadleftmaindiv {
        padding-top: 15px;
    }

    .viewlead-mainrightdiv {
        padding-top: 15px;
    }

    .btnlead-edit {
        width: 100% !important;
        height: 40px;
        line-height: 40px;
        display: block;
    }

    .text-333 {
        color: #666;
    }

    .tag-box {
        display: inline-block;
    }

        .tag-box a {
            color: #666;
        }

    .tagul-list {
        padding-left: 0;
    }

    .viewlead-body {
        padding: 0;
    }

    .viewlead-tabs {
        background: #EDF1F2;
    }

    #Timeline {
        padding: 30px 40px 30px 50px;
    }

    .timlinemedia-body {
        max-width: 300px;
        border: 1px solid #dee5e7;
        background: #f0f3f4;
        padding: 15px 15px 2px 15px;
        position: relative;
        overflow: initial !important;
    }

    .timeline-time {
        width: 69px;
        position: absolute;
        top: 6px;
        right: 12px;
    }

    #Timeline .activities .media-left {
        max-width: 100px;
    }

    .timlinemedia-body:before {
        content: '';
        position: absolute;
        left: -12px;
        top: 20%;
        width: 0;
        height: 0;
        border-bottom: 11px solid transparent;
        border-right: 11px solid #dee5e7;
        border-top: 11px solid transparent;
        clear: both;
        z-index: 999 !important;
    }

    .timlinemedia-body:after {
        content: '';
        position: absolute;
        left: -10px;
        top: 20%;
        width: 0;
        height: 0;
        border-bottom: 11px solid transparent;
        border-right: 11px solid #f0f3f4;
        border-top: 11px solid transparent;
        clear: both;
        z-index: 9999999 !important;
    }

    #Notes {
        padding: 10px 20px 20px;
    }

    .notes-table {
        margin-top: 10px;
    }

        .notes-table tr td {
            border: 0 !important;
            padding-left: 0 !important;
        }

            .notes-table tr td a {
                color: #666;
                margin-left: 8px;
            }

    #Events {
        padding: 15px;
    }

    #Tasks {
        padding: 15px;
    }

    #Deals {
        padding: 15px;
    }

    #Mail {
        padding: 15px;
    }

    #Documents {
        padding: 15px;
    }

    #Tickets {
        padding: 15px;
    }
</style>
<script>
    $(document).ready(function () {
        $(".date-control").daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
    });
</script>


<div class="page-container">
    <div class="page-header clearfix page-header-viewleads">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mt-0 mb-5 ">View Leads</h4>
                <ol class="breadcrumb mb-0">
                    <li><a href="@Url.RouteUrl("AdminDashboard")">Home</a></li>
                    <li><a href="@Url.RouteUrl("ManageLead")">Lead</a></li>
                    <li class="active">View Leads</li>
                </ol>
            </div>
            <div class="col-sm-6">
                @*<div class="btn-group mt-5">
                        <button type="button" class="btn btn-default btn-outline"><i class="flag-icon flag-icon-us mr-5"></i> English</button>
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                            <li><a href="#"><i class="flag-icon flag-icon-de mr-5"></i> German</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-fr mr-5"></i> French</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-es mr-5"></i> Spanish</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-it mr-5"></i> Italian</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-jp mr-5"></i> Japanese</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="page-content container-fluid page-contant-viewleads">

        <div class="col-sm-3 view-leadleftmaindiv">
            <div class="widget text-center">
                <div class="widget-body">
                    <div class="clearfix">
                        <div class="pull-left"><a href="javascript:;"><i class="ti-arrow-left text-muted"></i></a></div>
                        <div class="pull-right"><a href="javascript:;"><i class="ti-arrow-right text-muted"></i></a></div>
                    </div>
                    <img src="@Url.Content("~/Content/build/images/users/13.jpg")" width="100" alt="" class="img-circle">
                    <h4 class="mb-4">@Model.ContName</h4>
                    <h5 class="mb-5">@Model.website</h5>
                    <div class="clearfix mt-20">
                        <a href="#" class="btn-default btnlead-edit" onclick="EditLead(@Model.Lead_ID)">
                            <i class="ti-pencil"></i> Edit
                        </a>
                    </div>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <h5 class="mb-5 text-muted">Owner</h5>
                    <h5 class="mb-5"><a href="#" class="text-333">@HttpContext.Current.Session["User"].ToString()</a></h5>
                </div>
            </div>

            @*<div class="widget">
                    <div class="widget-body">
                        <h5 class="mb-5 text-muted">Tags</h5>
                        <div>
                            <ul class="tagul-list">
                                <li class="tag label label-outline label-default tag-box">
                                    <a href="#" class="">Amsterdam </a>
                                    <a href="#"><i class="ti-close"></i></a>
                                </li>
                                <li class="tag label label-outline label-default tag-box">
                                    <a href="#" class="">Amsterdam </a>
                                    <a href="#"><i class="ti-close"></i></a>
                                </li>
                                <li class="tag label label-outline label-default tag-box">
                                    <a href="#" class="">Amsterdam </a>
                                    <a href="#"><i class="ti-close"></i></a>
                                </li>
                            </ul>
                            <a href="#" class="text-muted"><i class="ti-plus"></i> Add</a>
                        </div>
                    </div>
                </div>*@

            <div class="widget">
                <div class="widget-body">
                    <h5 class="mb-5 text-muted">Contact Info</h5>
                    <h5 class="mb-5"><a href="#" class="text-333">@Model.bPhone</a></h5>
                    <h5 class="mb-5"><a href="#" class="text-333" data-toggle="modal" data-target="#Mail_Modal">@Model.Email</a></h5>
                </div>
            </div>

        </div>

        <div class="col-sm-9 viewlead-mainrightdiv">
            <div class="widget">
                <div class="widget-body viewlead-body">
                    <form class="form-horizontal">
                        <ul role="tablist" class="nav nav-tabs mb-15 viewlead-tabs">
                            <li role="presentation" class="active"><a href="#Timeline" aria-controls="Timeline" role="tab" data-toggle="tab" onclick="setActivityTabData();">Activity</a></li>
                            
                            <li role="presentation"><a href="#Tasks" aria-controls="Tasks" role="tab" data-toggle="tab" onclick="setTaskTabData();">Tasks</a></li>
                            <li role="presentation"><a href="#Notes" aria-controls="Notes" role="tab" data-toggle="tab" onclick="setNotesTabData();">Notes</a></li>                            
                            <li role="presentation"><a href="#Documents" aria-controls="Documents" role="tab" data-toggle="tab" onclick="setDocsTabData();">Documents</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="Timeline" role="tabpanel" class="tab-pane active" >
                                <ul class="activities list-unstyled mb-0">
                                    @foreach (var act in Model.Activity)
                                    {
                                        if (act.ActivityType == "TASK")
                                        {
                                            <li class="activity-warning">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">New Task Added</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "MEETING")
                                        {
                                            <li class="activity-success">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">New Meeting Added</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "NOTE")
                                        {
                                            <li class="activity-success">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">New Notes Added</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "DEAL")
                                        {
                                            <li class="activity-success">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">New Deal Added</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "EVENT")
                                        {
                                            <li class="activity-danger">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">New Event Added</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "MAIL")
                                        {
                                            <li class="activity-warning">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">New Mail</h5>
                                                        <p class="text-muted">From: @act.FromAdd</p>
                                                        <p class="text-muted">To: @act.ToAdd</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "DOCS")
                                        {
                                            <li class="activity-primary">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">A New Document Added</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "CREATED")
                                        {
                                            <li class="activity-info">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">Lead Created</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        if (act.ActivityType == "UPDATED")
                                        {
                                            <li class="activity-info">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-15 fw-500">@act.CreatedDate</time>
                                                    </div>
                                                    <div class="media-body timlinemedia-body">
                                                        <h5 class="media-heading">Lead Created</h5>
                                                        <p class="text-muted">@act.Title</p>
                                                        <h6 class="text-right timeline-time"><i class="ti-time"></i> @act.CreatedTime</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                           

                            

                            <div id="Tasks" role="tabpanel" class="tab-pane">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#TaskModal" style="float: right; margin-right: 30px;"><i class="ti-plus"></i> Add</button>
                                <div class="widget no-border" style="margin-left:20px;" id="taskTable">
                                    <table style="width: 100%" class="table notes-table dt-responsive nowrap">
                                        <tbody>
                                            @foreach (var task in Model.Task)
                                            {
                                                <tr>
                                                    <td width="70%">
                                                        <div class="media">
                                                            <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/10.jpg")" alt="" class="media-object img-circle"></div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">@task.Title</h5>
                                                                <p class="text-muted mb-0">@task.Description</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="30%" class="text-right text-success">
                                                        <a href="#"><i class="ti-pencil-alt"></i></a>
                                                        <a href="#"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="Notes" role="tabpanel" class="tab-pane">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Notes_Modal" style="float: right; margin-right: 30px;"><i class="ti-plus"></i> Add</button>
                                <div class="widget no-border" style="margin-left:20px;" id="notesTable">
                                    <table style="width: 100%" class="table notes-table dt-responsive nowrap">
                                        <tbody>
                                            @foreach (var note in Model.Notes)
                                            {
                                                <tr>
                                                    <td width="70%">
                                                        <div class="media">
                                                            <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/10.jpg")" alt="" class="media-object img-circle"></div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">@note.Title</h5>
                                                                <p class="text-muted mb-0">@note.Description</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="30%" class="text-right text-success">
                                                        <a href="#"><i class="ti-pencil-alt"></i></a>
                                                        <a href="#"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>                       

                            <div id="Documents" role="tabpanel" class="tab-pane">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DocModal" style="float: right; margin-right: 30px;"><i class="ti-plus"></i> Add</button>
                                <div class="widget no-border" style="margin-left:20px;" id="docTable">
                                    <table style="width: 100%" class="table notes-table dt-responsive nowrap">
                                        <tbody>
                                            @foreach (var docs in Model.Doc)
                                            {
                                                <tr>
                                                    <td width="70%">
                                                        <div class="media">
                                                            <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/10.jpg")" alt="" class="media-object img-circle"></div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading"><a href="#" onclick="DownloadDoc();">@docs.Title</a></h5>
                                                                <p class="text-muted mb-0">Created By: @docs.DocOwner_Name</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="30%" class="text-right text-success">
                                                        <a href="#"><i class="ti-pencil-alt"></i></a>
                                                        <a href="#"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>




<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="TaskModal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Add A Task</h4>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="TTitle">Title</label>
                                <input type="text" id="TTitle" name="Title" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="startDate">Start Date</label>
                                <div class="input-group">
                                    <input id="startDate" type="text" class="form-control  date-control"><span class="input-group-addon"><span class="ti-calendar"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endDate">Due Date</label>
                                <div class="input-group">
                                    <input id="endDate" type="text" class="form-control  date-control"><span class="input-group-addon"><span class="ti-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="TRelateTo">Relate To</label>
                                <select id="TRelateTo" class="form-control" disabled="disabled">
                                    <option class="active" value="LEAD">Lead</option>
                                    <option value="OPPORTUNITY">Opportunity</option>
                                    <option value="CLIENT">Client</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="TRelateToName">Name</label>
                                <div class="input-group">
                                    <input id="TRelateToName" type="text" class="form-control" value="@Model.ContName" readonly><span class="input-group-addon"><span class="ti-search"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="Description">Description</label>
                                <textarea class="form-control" placeholder="Description.." id="Description"></textarea>
                                <div id="error_div_Notes" style="display:none;">
                                    <p style="color:red;">Please add Note For Changing Status</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <div class="checkbox-inline checkbox-custom pull-left">
                                    <input id="TRemindMe" type="checkbox" onclick="SetTReminder();">
                                    <label for="TRemindMe" class="checkbox-muted text-muted">&nbsp; Remind Me Before </label>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group" id="Th_div" style="display:none;">
                                <input type="number" class="form-control" id="THoures" min="1" max="24" placeholder="Hours" />
                            </div>
                            <div class="col-sm-3 form-group" id="Tm_div" style="display:none;">
                                <input type="number" class="form-control" id="TMinutes" min="1" max="60" placeholder="Minutes" />
                            </div>
                        </div>
                    </div>
                    @if (@HttpContext.Current.Session["User_Type"].ToString() == "Administrator")
                    {
                        @*<div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-sm-6">
                        <label for="AssignToSelect">Assign To</label>
                        <select id="AssignToSelect" class="form-control" onchange="SetAssignTo();">
                            @foreach (var user in ViewBag.Users)
                            {
                                <option value="@user.Email">@user.FullName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>*@
                    }
                </form>             

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="SheduleTask();">Save</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="Mail_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Compose Mail</h4>
            </div>
            <div class="modal-body">
                <form action="/Mails/SendMail" method="post" enctype="multipart/form-data" id="mailForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="ToEmail">To</label>
                                <input type="text" name="RelateTo_Name" id="RelateTo_Name" class="form-control" value="@Model.ContName" readonly>
                                <input id="ToAddress" name="ToAddress" type="hidden" class="form-control" value="@Model.Email" readonly>
                                <a href="#" id="cc" onclick="showCCdiv();">Add Cc</a>
                            </div>
                        </div>
                        <div class="col-sm-12" id="cc_div" style="display:none">
                            <div class="form-group col-sm-12">
                                <label for="cc">Cc</label>
                                <input id="CcAddress" name="CcAddress" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="BCC">BCC</label>
                                <input type="text" name="MailBy_Name" class="form-control" value="@HttpContext.Current.Session["User"].ToString()" readonly>
                                <input id="BccAddress" name="BccAddress" type="hidden" class="form-control" value="@HttpContext.Current.Session["UserName"].ToString()" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="Subject">Subject</label>
                                <input id="Subject" name="Subject" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Attachments</label>
                                <div class="col-sm-10">
                                    <input type="file" id="Attechments" name="Attechments" class="multi" multiple="multiple" data-maxsize="100024" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">
                            <textarea name="MailBody" id="MailBody" data-provide="markdown" rows="10" width="100%"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="RelateTo_ID" value="@Model.Lead_ID" />
                    <input type="hidden" name="MailBy_ID" value="@HttpContext.Current.Session["UserID"].ToString()" />
                    <input type="hidden" name="FromAddress" value="@HttpContext.Current.Session["UserName"].ToString()" />
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancelMail">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="sendMail" onclick="SendEmail();">Send</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="DocModal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">New Document</h4>
            </div>
            <div class="modal-body">
                <form action="/Doc/AddNewDoc" method="post" enctype="multipart/form-data" id="docForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="Title">Title</label>
                            <input id="Title" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <label for="Title">Choose Document</label>
                            <div class="input-group">
                                <input id="Document" type="file" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <label for="Contact">Related Lead</label>
                            <input id="Lead" type="text" class="form-control" value="@Model.ContName" disabled>
                        </div>
                    </div>

                    
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" onclick="AddDoc();">Save</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="Event_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Add A Event</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label for="TTitle">Title</label>
                            <input type="text" id="TTitle" name="Title" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label for="Priority">Priority</label>
                            <select id="Priority" class="form-control">
                                <option class="active" value="PRIORITY">Priority</option>
                                <option value="HIGH" style="color: #e21d27;">High</option>
                                <option value="MEDIUM" style="color: #ffae04;">Medium</option>
                                <option value="LOW" style="color: #1abe9e;">Low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="startDate">Start Date</label>
                            <div class="input-group">
                                <input id="eventstartDate" type="text" class="form-control date-added"><span class="input-group-addon"><span class="ti-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="startTime">Start Time</label>
                            <div class="input-group">
                                <input id="eventstartTime" type="text" class="form-control"><span class="input-group-addon"><span class="ti-timer"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="endDate">End Date</label>
                            <div class="input-group">
                                <input id="eventendDate" type="text" class="form-control date-added"><span class="input-group-addon"><span class="ti-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="endTime">End Time</label>
                            <div class="input-group">
                                <input id="eventendTime" type="text" class="form-control"><span class="input-group-addon"><span class="ti-timer"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="ERelateTo">Relate To</label>
                            <select id="ERelateTo" class="form-control" disabled="disabled">
                                <option class="active" value="LEAD">Lead</option>
                                <option value="OPPORTUNITY">Opportunity</option>
                                <option value="CLIENT">Client</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="ERelateToName">Name</label>
                            <div class="input-group">
                                <input id="ERelateToName" type="text" class="form-control" value="@Model.ContName" readonly><span class="input-group-addon"><span class="ti-search"></span></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="Description">Description</label>
                            <textarea class="form-control" placeholder="Description.." id="Description"></textarea>
                            <div id="error_div_Notes" style="display:none;">
                                <p style="color:red;">Please add Note For Changing Status</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-4">
                            <div class="checkbox-inline checkbox-custom pull-left">
                                <input id="ERemindMe" type="checkbox" onclick="SetEReminder();">
                                <label for="ERemindMe" class="checkbox-muted text-muted">&nbsp; Remind Me Before </label>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group" id="Eh_div" style="display:none;">
                            <input type="number" class="form-control" id="THoures" min="1" max="24" placeholder="Hours" />
                        </div>
                        <div class="col-sm-3 form-group" id="Em_div" style="display:none;">
                            <input type="number" class="form-control" id="TMinutes" min="1" max="60" placeholder="Minutes" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="SheduleTask();">Save</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myAnimationModalLabel" class="modal animated fadeInLeft bs-example-modal-animation" id="Notes_Modal">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myAnimationModalLabel" class="modal-title">Add A Note</h4>
            </div>
            <div class="modal-body">
                <form id="noteForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="NTitle">Title</label>
                                <input type="text" id="NTitle" name="Title" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="RelateTo">Relate To</label>
                                <select id="RelateTo" class="form-control" disabled="disabled">
                                    <option class="active" value="LEAD">Lead</option>
                                    <option value="OPPORTUNITY">Opportunity</option>
                                    <option value="CLIENT">Client</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="RelateToName">Name</label>
                                <div class="input-group">
                                    <input id="RelateToName" type="text" class="form-control" value="@Model.ContName" readonly><span class="input-group-addon"><span class="ti-search"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="Note">Note</label>
                                <textarea class="form-control" placeholder="Note.." id="Note"></textarea>
                                <div id="error_div_Notes" style="display:none;">
                                    <p style="color:red;">Please add Note</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="cancel">Cancel</button>
                <button type="button" class="btn btn-raised btn-danger" id="save" onclick="AddNote();">Save</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="LeadId" value="@Model.Lead_ID" />
<input type="hidden" id="AssignTo" value="@HttpContext.Current.Session["UserName"].ToString()" />

<script>
    $(document).ready(function () {
      // // $("#startDate").datetimepicker({ locale: "en-gb" });
       // $("#endDate").datetimepicker({ locale: "en-gb" });
        $("#startTime").datetimepicker({ locale: "en-gb", format: "LT" });
        $("#endTime").datetimepicker({ locale: "en-gb", format: "LT" });
    });
</script>

<script>
    function showCCdiv() {
        $("#cc").hide();
        $("#cc_div").show();
    }
</script>

<script>  

    function SendEmail() {
        // Checking whether FormData is available in browser
        $(".se-pre-con").show();
        if (window.FormData !== undefined) {

            var fileUpload = $("#Attechments").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('ToName', $("#RelateTo_Name").val());
            fileData.append('To', $("#ToAddress").val());
            fileData.append('Cc', $("#CcAddress").val());
            fileData.append('Bcc', $("#BccAddress").val());
            fileData.append('subject', $("#Subject").val());
            fileData.append('body', $("#MailBody").val());
            fileData.append('LeadID', $("#LeadId").val());
            // $("#loader").show();
            $.ajax({
                url: '/Mails/SendEmail',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    if (data == 'success') {
                        $("#Mail_Modal").modal('hide');
                        $("#mailForm")[0].reset();
                        $(".se-pre-con").hide();
                        showSuccessMsg();
                    }
                    else {
                        $("#Mail_Modal").modal('hide');
                        $("#mailForm")[0].reset();
                        $(".se-pre-con").hide();
                        showErrorMsg();
                    }
                },
                error: function (err) {                   
                    $("#mailForm")[0].reset();
                    $(".se-pre-con").hide();
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }    
</script>

<script type="text/javascript">

    function showLoader() {

        $("#sendMail").html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');
    }
    function hideLoader() {
        $('#sendMail').html('Send')
    }

</script>



<script>
    $(document).ready(function () {
        if ($("#RemindMe").is(':checked')) {
            $("#h_div").show();
            $("#m_div").show();
        }
        else {
            $("#h_div").hide();
            $("#m_div").hide();
        }

        SetMeetings();

    });

    function SetReminder() {
        if ($("#RemindMe").is(':checked')) {
            $("#h_div").show();
            $("#m_div").show();
        }
        else {
            $("#h_div").hide();
            $("#m_div").hide();
        }
    }

    function SheduleMeeting() {
        $.ajax({
            url: '/Meeting/AjaxAddMeeting',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Titele: $("#Title").val(), SheduledDate: $("#sheduleDate").val(), RelateTo: $("#LeadId").val(), Agenda: $("#Agenda").val(), RemindMe: reminder, Hours: $("#Houres").val(), Minutes: $("#Minutes").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data = 'Success') {
                    $("#Meeting_Modal").modal('hide');
                    location.reload();
                }
                else {
                    $("#Meeting_Modal").modal('hide');
                    location.reload();
                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
            }
        });
    }

    function SetMeetings() {
        $.ajax({
            url: '/Leads/TempMeetindData',
            type: "POST",
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                alert(data);
                if (data != '') {
                    $("#meeting_div").html('');
                    $("#meeting_div").html(data);

                }
                else {


                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        if ($("#TRemindMe").is(':checked')) {
            $("#Th_div").show();
            $("#Tm_div").show();
        }
        else {
            $("#Th_div").hide();
            $("#Tm_div").hide();
        }

        SetAssignTo();

    });

    function SetTReminder() {
        if ($("#TRemindMe").is(':checked')) {
            $("#Th_div").show();
            $("#Tm_div").show();
        }
        else {
            $("#Th_div").hide();
            $("#Tm_div").hide();
        }
    }

    function SetAssignTo() {
        $("#AssignTo").val($("#AssignToSelect").val());
    }

    function SheduleTask() {
        var reminder = '0';
        if ($("#TRemindMe").is(':checked')) {
            reminder = '1';
        }
        else {
            reminder = '0';
        }       

        $.ajax({
            url: '/Task/AjaxAddTask',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Titele: $("#TTitle").val(), StartDate: $("#startDate").val(), EndDate: $("#endDate").val(), RelateTo: $("#LeadId").val(), Description: $("#Description").val(), RemindMe: reminder, Hours: $("#THoures").val(), Minutes: $("#TMinutes").val(), AssignTo: $("#AssignTo").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data == 'Success') {
                    alert('s');
                    $("#TaskModal").modal('hide');
                    $("#taskForm")[0].reset();
                   // $("#taskTable").html('');
                    // $("#taskTable").html(data);
                    setTaskTabData();
                }
                else {                    
                    $("#TaskModal").modal('hide');
                    $("#taskForm")[0].reset();
                }
            },
            error: function (xhr) {
                $("#taskForm")[0].reset();
                $('#errorMessage').html("No connection");
            }
        });
        
    }

</script>


<script>
    $(document).ready(function () {
        $("#txtDescription").summernote({
            height: 500,
            toolbar:
                [["style", ["style"]], ["font", ["bold", "italic", "underline", "clear"]], ["fontname", ["fontname"]], ["fontsize", ["fontsize"]], ["color", ["color"]], ["para", ["ul", "ol", "paragraph"]], ["height", ["height"]], ["table", ["table"]], ["insert", ["link", "picture", "hr"]], ["view", ["fullscreen"]]]
        }),
        $(".start-date, .end-date").daterangepicker({ singleDatePicker: !0 })
    });
</script>

<script>
    function AddNote() {
       showLoader();
        $.ajax({
            url: '/Notes/AjaxAddNote',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Title: $("#NTitle").val(), RelateTo: $("#LeadId").val(), Note: $("#Note").val(), RelatedTable: 'Lead' }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data = 'Success') {
                    $("#Notes_Modal").modal('hide');
                    $("#noteForm")[0].reset();
                    hideLoader();
                    setNotesTabData();
                }
                else {                   
                    $("#Notes_Modal").modal('hide');
                    $("#noteForm")[0].reset();
                    hideLoader();
                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
                $("#noteForm")[0].reset();
                hideLoader();
            }
        });
    }
</script>

<script>
    function EditLead(Lead_ID) {
        window.open('/Leads/EditLead?LeadID=' + Lead_ID, '_blank');
    }
</script>

<script>
    function AddDoc() {
        // Checking whether FormData is available in browser
        showLoader();
        if (window.FormData !== undefined) {

            var fileUpload = $("#Document").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('Title', $("#Title").val());
            fileData.append('ContactID', $("#Contact").val()); 
            fileData.append('OpportunityID', $("#Opportunity").val());
            fileData.append('LeadID', $("#LeadId").val());
            // $("#loader").show();
            $.ajax({
                url: '/Doc/AddNewDoc',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    if (data == 'success') {
                        $("#DocModal").modal('hide');
                        hideLoader();
                        $("#docForm")[0].reset();
                        setDocsTabData();
                        //   $("#loader").hide();
                    }
                    else {
                        $("#DocModal").modal('hide');
                        hideLoader();
                        $("#docForm")[0].reset();

                    }
                },
                error: function (err) {
                    hideLoader();
                    $("#docForm")[0].reset();
                    alert(err.statusText);

                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }
   // fileName, fileID
    function DownloadDoc() {
        alert();
        window.location = '/Doc/DownLoad?FileName=' + fileName + '&FileID=' + fileID;
    }

    function DeleteDoc(Doc_ID_Auto_PK, file, fileID) {

        var result = confirm("Are you sure to delete this Document ?");
        if (result == true) {
            // var divId = "div-" + Service_ID_Auto_PK;

            var Ddata = Doc_ID_Auto_PK;

            var url = "/Doc/DeleteDoc";
            $.post(url, { Doc_ID_PK: Ddata, FileName: file, FileID: fileID }, function (data) {
                if (data == "1") {
                    location.reload();
                }
                if (data = "0") {
                    $("#error_msg_tbl").html("<p style=\"color:red;\">There is an error in processing your request. Please Try after some time.</p>");
                    $("#error_msg_tbl").show();
                }
            });
        }
    }
</script>



<script>
  function  setActivityTabData(){
        $.ajax({
            url: '/Leads/AjaxActivity',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ LeadID: $("#LeadId").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data != '') {                   
                    $("#Timeline").html('');
                    $("#Timeline").html(data);
                }
                else {                   
                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
            }
        });
  }

  function setTaskTabData() {      

      $.post('/Leads/AjaxTasks', { LeadID: $("#LeadId").val() }, function (data) {
          if (data != '') {             
              $("#taskTable").html('');
              $("#taskTable").html(data);
          }
          else {              
          }
      });
  }

  function setNotesTabData() {      
      $.post('/Leads/AjaxNotes', { LeadID: $("#LeadId").val() }, function (data) {
          if (data != '') {
              $("#notesTable").html('');
              $("#notesTable").html(data);
          }
          else {
          }
      });
  }

  function setDocsTabData() {      
      $.post('/Leads/AjaxDocs', { LeadID: $("#LeadId").val() }, function (data) {
          if (data != '') {
              $("#docTable").html('');
              $("#docTable").html(data);
          }
          else {
          }
      });
  }
</script>

<script>
    function showSuccessMsg() {        
        swal({
            title: "Send!",
            text: "Mail Sent Successfully!",
            type: "success",
            confirmButtonClass: "btn-raised btn-success",
            confirmButtonText: "OK"
        })       
    }

    function showErrorMsg() {       
        swal({
            title: "Fail!",
            text: "Error Occured in Sending Mail!",
            type: "error",
            confirmButtonClass: "btn-raised btn-danger",
            confirmButtonText: "OK"
        })       
    }
</script>